<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pitch</key>
	<real>165.64834594726562</real>
	<key>rate</key>
	<real>0.80000001192092896</real>
	<key>trained</key>
	<true/>
</dict>
</plist>
